<header>

  <!-- Page header -->
  <div class="section-lg bg-image parallax" style="background-image: url(../../assets/images/agency-classic-bg.jpg)">
    <div class="bg-black-06">
      <div class="container text-center">
        <h1 class="font-weight-normal">Contact Us</h1>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb breadcrumb-font-3">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
          </ul>
        </nav>
      </div><!-- end container -->
    </div>
  </div>
</header>

<!-- Contact Info section -->
<div class="section">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="contact">
        <div class="col-12 col-sm-6 col-md-4 icon-3xl">
          <i class="ti ti-email text-dark margin-bottom-20"></i>
          <h6 class="heading-uppercase no-margin">Email</h6>
          <p>{{contact.email}}</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 icon-3xl">
          <i class="ti ti-mobile text-dark margin-bottom-20"></i>
          <h6 class="heading-uppercase no-margin">Phone</h6>
          <p>{{contact.phone}}</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 icon-3xl" *ngIf="false">
          <i class="ti ti-skype text-dark margin-bottom-20"></i>
          <h6 class="heading-uppercase no-margin">Skype</h6>
          <p>contact.skype</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 icon-3xl">
          <i class="ti ti-location-pin text-dark margin-bottom-20"></i>
          <h6 class="heading-uppercase no-margin">Address</h6>
          <p>{{contact.address1}} {{contact.address2}}</p>
        </div>
      </ng-container>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Contact Info section -->

<!-- Contact Form section -->
<div class="section no-padding-top">
  <div class="container">
    <app-email-form></app-email-form>
    <!-- end contact-form -->
  </div><!-- end container -->
</div>
<!-- end Contact Form section -->
