<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 icon-5xl">
      <i class="ti-comment-alt text-dark"></i>
      <h5 class="font-weight-normal margin-top-20">IT Consulting</h5>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
      <a class="text-btn-3 margin-top-20" href="#">Learn More</a>
    </div>
    <div class="col-12 col-md-4 icon-5xl">
      <i class="ti-settings text-dark"></i>
      <h5 class="font-weight-normal margin-top-20">Software Development</h5>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
      <a class="text-btn-3 margin-top-20" href="#">Learn More</a>
    </div>
    <div class="col-12 col-md-4 icon-5xl">
      <i class="ti-blackboard text-dark"></i>
      <h5 class="font-weight-normal margin-top-20">System Development</h5>
      <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
      <a class="text-btn-3 margin-top-20" href="#">Learn More</a>
    </div>
  </div><!-- end row -->
</div><!-- end container -->
