    <header>
    <!-- Page header -->
			<div class="section-lg bg-image parallax" style="background-image: url(../../assets/images/resume-bg.jpg)">
				<div class="bg-black-06">
					<div class="container text-center">
						<h1 class="font-weight-light">About us 2</h1>
						<nav>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active" aria-current="page">About us</li>
							</ul>
						</nav>
					</div><!-- end container -->
				</div>
			</div>
		</header>

<!-- Team section -->
<div class="section">
  <div class="container">
    <div class="row col-spacing-50">
      <div class="col-12 col-lg-6">
        <h2 class="font-weight-thin">We believe that teamwork divides the tasks and multiplies the success</h2>
      </div>
      <div class="col-12 col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem.</p>
      </div>
    </div><!-- end row -->
    <div class="margin-top-70">
      <div class="row team-wrapper team-box-hover-2">
        <!-- Team box 1 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../../assets/images/team-sq-1.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Robert Vincent</h6>
          <span>CEO</span>
        </div>
        <!-- Team box 2 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../assets/images/team-sq-2.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Brenda Johnson</h6>
          <span>Co-Founder</span>
        </div>
        <!-- Team box 3 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../assets/images/team-sq-3.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Rodney Scott</h6>
          <span>Senior Developer</span>
        </div>
        <!-- Team box 4 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../assets/images/team-sq-4.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Michelle White</h6>
          <span>Senior Designer</span>
        </div>
        <!-- Team box 5 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../assets/images/team-sq-5.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Alice Trumbo</h6>
          <span>Marketer</span>
        </div>
        <!-- Team box 6 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../assets/images/team-sq-6.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Thomas Willis</h6>
          <span>Developer</span>
        </div>
        <!-- Team box 7 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../assets/images/team-sq-7.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Mary Anderson</h6>
          <span>Designer</span>
        </div>
        <!-- Team box 8 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="../../assets/images/team-sq-8.jpg" alt="">
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase">Ernest Hermen</h6>
          <span>Photographer</span>
        </div>
      </div><!-- end row -->
    </div>
  </div><!-- end container -->
</div>
<!-- end Team section -->

<!-- Testimonial -->
<div class="section border-top">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="font-weight-light">What People Say</h2>
    </div>
    <div class="testimonial-grid column-2">
      <div class="testimonial-grid-box">
        <div class="testimonial-img">
          <img src="../../assets/images/testimonial-1.jpg" alt="">
        </div>
        <div class="testimonial-content">
          <p class="margin-bottom-10 font-small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <h6 class="font-weight-normal no-margin">Emiley Haley</h6>
          <span class="font-small">Manager - Mono</span>
        </div>
      </div>
      <div class="testimonial-grid-box">
        <div class="testimonial-img">
          <img src="../../assets/images/testimonial-2.jpg" alt="">
        </div>
        <div class="testimonial-content">
          <p class="margin-bottom-10 font-small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <h6 class="font-weight-normal no-margin">Andrew Palmer</h6>
          <span class="font-small">Developer - Mono</span>
        </div>
      </div>
      <div class="testimonial-grid-box">
        <div class="testimonial-img">
          <img src="../../assets/images/testimonial-3.jpg" alt="">
        </div>
        <div class="testimonial-content">
          <p class="margin-bottom-10 font-small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <h6 class="font-weight-normal no-margin">Anna Mullen</h6>
          <span class="font-small">Designer - Mono</span>
        </div>
      </div>
      <div class="testimonial-grid-box">
        <div class="testimonial-img">
          <img src="../../assets/images/testimonial-4.jpg" alt="">
        </div>
        <div class="testimonial-content">
          <p class="margin-bottom-10 font-small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <h6 class="font-weight-normal no-margin">John Smith</h6>
          <span class="font-small">Marketer - Mono</span>
        </div>
      </div>
    </div><!-- end testimonial-grid -->
  </div><!-- end container -->
</div>
<!-- end Testimonial -->
