<div class="contact-form text-right">
  <form (ngSubmit)="submitMail()" id="emailform" [formGroup]="emailForm">
    <div class="form-row">
      <div class="col-12 col-sm-6">
        <input type="text" id="name" name="name" placeholder="Name" formControlName="name" required>
      </div>
      <div class="col-12 col-sm-6">
        <input type="email" id="email" name="email" placeholder="E-Mail" required formControlName="email">
      </div>
    </div>
    <input type="text" id="subject" name="subject" placeholder="Subject" required formControlName="subject">
    <textarea name="message" id="message" placeholder="Message" formControlName="message"></textarea>
    <button class="button button-lg button-outline-dark button-radius" >Send Message</button>
  </form>
  <!-- Submit result -->
  <div class="submit-result">
    <span id="success">Thank you! Your Message has been sent.</span>
    <span id="error">Something went wrong, Please try again!</span>
  </div>
</div>
