
<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
</div>
<!-- end Scroll to top button -->

<!-- Home section -->
<div class="section-xl bg-image parallax" id="123">
  <div class="bg-black-02 background-image-home">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7">
          <div class="bg-black-07 padding-50 slogan">
            <ng-container *ngIf="aboutUs">
              <h2 class="font-weight-light no-margin">{{aboutUs.cls_slogan}}</h2>
            </ng-container>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
</div>
<!-- end Home section -->

<!-- Services section -->
<div class="section bg-grey-lightest">
  <app-fields></app-fields>
</div>
<!-- end Services section -->

<!-- About section -->
<div class="section">
  <div class="container">
    <div class="row col-spacing-50 align-items-center">
      <div class="col-12 col-lg-6">
        <img src="../assets/images/business-consulting-about.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <ng-container *ngIf="aboutUs">
          <h2 class="font-weight-light">We Are CLS</h2>
          <p>{{aboutUs.cls_description}}</p>
        </ng-container>
        <a class="button button-lg button-radius button-reveal-left-outline-dark margin-top-30" routerLink="about-us"><i class="ti-arrow-right"></i><span>More About Us</span></a>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end About section -->

<!-- Clients section -->
<div class="section bg-dark-lightest" *ngIf="true">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="font-weight-light">Our Amazing Clients</h2>
    </div>
    <ul class="clients-grid">
      <ng-container *ngIf="clients"></ng-container>
      <li class="client-logo" *ngFor="let client of clients">
        <a href="{{client.externalUrl}}">
          <img src="{{client.imageUrl}}" [ngClass]="{'dark':client.dark}" alt="">
        </a>
      </li>


    </ul>
  </div><!-- end container -->
</div>
<!-- end Clients section -->

<!-- Contact section -->
<div class="section" >
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <ng-container *ngIf="contact">
          <div class="margin-bottom-30">
            <h6 class="font-weight-normal no-margin">Phone:</h6>
            <p>{{contact.phone}}</p>
          </div>
          <div class="margin-bottom-30">
            <h6 class="font-weight-normal no-margin">Email:</h6>
            <p>{{contact.email}}</p>
          </div>
          <div>
            <h6 class="font-weight-normal no-margin">Address:</h6>
            <p>{{contact.address1}} {{contact.address2}}</p>
          </div>
        </ng-container>
      </div>
      <div class="col-12 col-md-8">
        <app-email-form></app-email-form>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Contact section -->


